.range_bar {
  -webkit-appearance: none;
  height: 3px;
  width: 100%;
  background-color: #dcdcdc;
  border-radius: 5px;
}
.range_bar::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #111;
  border-radius: 50%;
  outline: none;
  border: none;
}

.review_bar::-webkit-scrollbar,
.cart::-webkit-scrollbar,
.hide_bar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.review_bar::-webkit-scrollbar-thumb,
.cart::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 15px;
}

.hide_bar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}
.review_bar::-webkit-scrollbar-track,
.cart::-webkit-scrollbar-track {
  background-color: #dcdcdc;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  outline: 1px solid;
  outline-offset: 3px;
}

input[type="radio"]:checked {
  border: 1px solid #111;
  background-color: black;
  border-color: #111;
}
