@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.App {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", serif;
  max-width: 100%;
  overflow-x: hidden;
}

.active {
  border-bottom: 2px solid #111;
}

input,
textarea,
select {
  zoom: reset;
}

.mercurius {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqzzQIHI0uzxWVZVQBGT4ZCakMlbUf_ir2MQ&s");
  display: inline-block;
  margin: 0;
  font-size: 16rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
